[tool.black]
line-length = 79
target-version = ["py36", "py37"]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv 
  | _build
  | build
  | dist
  | migrations
)/
''' 

[tool.isort]
profile = "black"
src_paths = ["clean_history.py"]
multi_line_output = 3 # VHI

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
testpaths = ["."]
python_files = ["clean_history.py"]
